.App {
  text-align: center;
}

.app-component-box {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.switch-sizing {
  padding-top: 5px;
  padding-bottom: 5px;
}

.App-header {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1.325rem + .2vw);
}

.fpga-lab-background {
  background-color: #d0def5;
}

.mcu-lab-background {
  background-color: #deddc5;
}

.chart {
  width: 100%;
  height: 400px;
  color: azure;  
  background-color: black;
}

.collapse-menu-components {
  position: absolute;
  height: auto;
  /*background-color: #deddc5;*/
  text-align: left;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
  z-index: 3;
  display: block;
}

.collapse-menu-components-none {
  width: 0;
  height: 0;
  opacity: 0.5;
}

.collapse-menu-background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.collapse-menu-background-none {
  display: none;
}

.components-list {
  margin: 20px;
}

.components-list-none {
  display: none;
}

.components-list-header {
  text-align: center;
}

.components-list-header-none {
  display: none;
}

.collapse-image {
  color: black;
  /*background-color: #deddc5;*/
  border: 0;
}

.collapse-and-countdown {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 2px solid black;
  padding: 15px;
  position: relative;
  z-index: 5;
}

.collapse-item {
  text-align: left;
  width: 10%;
  display: inline-block;
}

.collapse-image:hover {
  background-color: gray;
  border-radius: 5px;
}

.countdown {
  height: 30px;
  width: 79%;
  align-content: center;
  display: inline-block;
}

.countdown-space {
  width: 11%;
  display: inline-block;
}

.error-message {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.error-message-info {
  position: absolute;
  min-width: 300px;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);  
  border: 2px solid black;
  color: black;
  z-index: 10;
  display: block;
}

.countdown-value {
  padding-left: 5px;
  display: inline;
}

.countdown-completed-ok {
  display: block;
  text-align: center;
  margin: auto;
}

input[type="checkbox"] {
  text-align: center;
  width: 30px;
  transform: scale(1.5);
}

.scroll-to-top-button {
  background-color: gray !important; 
  right: 3px !important;
  bottom: 60px !important;
}

.round-sliders-label {
  margin: 5px;
  padding: 3px;
  border: 2px solid black;
  border-radius: 5px;
  min-width: 115px;
}

.mcu-lab-background-special {
  background-color: #b3b29d;
}

.fpga-lab-background-special {
  background-color: #a8c3f0;
}

.fall-edge {
  content: url("../img/fall_edge.png");
  transform: scale(0.7);
}
.rise-edge {
  content: url("../img/rise_edge.png");
  transform: scale(0.7);
}

h2 {
  padding: 10px;
  text-align: center;
}
