 @media (min-width: 576px) {
    .camera-frame {
        height: 270px;
        width: 360px;
        background-color: black;
        align-items: center;
        border: 5px solid gray;
        border-radius: 2px;
        margin: auto;
    }
  } 

  @media (min-width: 1200px) {
    .camera-frame {
        height: 400px;
        width: 540px;
        background-color: black;
        align-items: center;
        border: 5px solid gray;
        border-radius: 2px;
        margin: auto;
    }
  } 

  @media (max-width: 576px) {
    .camera-frame {
        height: 200px;
        width: 266px;
        background-color: black;
        align-items: center;
        border: 2px solid gray;
        border-radius: 1px;
        margin: auto;
    }
  }

iframe {
    height: 100%;
    width: 100%;
    justify-content: center;
    transform: rotate(180deg);
}
