@media (min-width: 576px) {
    .camera-frame {
        height: 480px;
        width: 640px;
        background-color: black;
        align-items: center;
        border: 5px solid gray;
        border-radius: 2px;
        margin: auto;
    }
  } 

  @media (min-width: 1200px) {
    .camera-frame {
        height: 600px;
        width: 800px;
        background-color: black;
        align-items: center;
        border: 5px solid gray;
        border-radius: 2px;
        margin: auto;
    }
  } 

  @media (max-width: 768px) {
    .camera-frame {
        height: 320px;
        width: 480px;
        background-color: black;
        align-items: center;
        border: 2px solid gray;
        border-radius: 1px;
        margin: auto;
    }
  }

  @media (max-width: 576px) {
    .camera-frame {
        height: 240px;
        width: 320px;
        background-color: black;
        align-items: center;
        border: 2px solid gray;
        border-radius: 1px;
        margin: auto;
    }
  }

iframe {
    height: 100%;
    width: 100%;
    justify-content: center;
    transform: rotate(180deg);
}
