.sine-function {
    content: url("../img/sine_signal.png");
    transform: scale(0.7);
}

.pulse-function {
    content: url("../img/pulse_signal.png");
    transform: scale(0.7);
}

.rampup-function {
    content: url("../img/rampup_signal.png");
    transform: scale(0.7);
}

.triangle-function {
    content: url("../img/triangle_signal.png");
    transform: scale(0.7);
}

.functional-generator-table {
    padding: 15px;
    margin: 0px;
    vertical-align: middle;
    display: inline-block;
    text-align: left;
}

.functional-generator-sliders {
    padding: 15px;
    margin: 0px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

.functional-generator-channel-name {
    text-align: left;
    padding: 5px;
    color: blue;
}

.border-spec {
    border: 2px dashed black;
}

.functional-generator-channel-radio {
    padding: 5px;
}

.functional-generator-duty-cycle {
    text-align: center;
}

.functional-generator-duty-cycle-no {
    display: none;
}

.round-slider-amplitude-image {
    display: table-cell;
    text-align: center;
    background: url("../img/roundslider_generator_amplitude_marks.png") no-repeat;
}

.round-slider-frequency-image {
    display: table-cell;
    text-align: center;
    background: url("../img/roundslider_generator_frequency_marks.png") no-repeat;
}