@media(min-width: 1200px) {
  .logic-analyzer-table {
    padding: 45px;
    margin: 0px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
  }
}

@media(max-width: 1200px) {
  .logic-analyzer-table {
    padding: 15px;
    margin: 0px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
  }
}

.logic-analyzer-table label {
  text-align: center;
}

.logic-analyzer-backend-params {
  text-align: start;
}

.logic-analyzer-warnings {
  color: orange;
  text-align: left;
}

@media(max-width: 576px) {
  .logic-analyzer-scroll-slider {
    width: 150px;  
  }
}

@media(min-width: 576px) {
  .logic-analyzer-scroll-slider {
    width: 250px;  
  }
}