@media (max-width: 576px) {
    input[type="file"] {
        width: 310px;
    }
}

@media (min-width: 576px) {
    input[type="file"] {
        width: auto;
    }
}

.program-device-file {
    display: block;
    margin: auto;
}

.program-device-success {
    color: green;
}

.program-device-failure {
    color: red;
}

.program-device-progress {
    color: black;
}

