.scope-vertical-channel-name {
    text-align: right;
    color: blue;
    width: 50%;
    display: inline-block;
}

.scope-header {
    text-align: left;
    width: 50%;
    display: inline-block;
}

.scope-trigger-level {
    width: 50%;
    display: inline-block;
}

.scope-trigger-type {
    width: 50%;
    display: inline-block;
}

.scope-trigger-source {
    padding-left: 10px;
    padding-right: 10px;
}

.round-slider-wrapper {
    width: 120px; 
    height: 112px; 
    margin-left: auto;
    margin-right: auto;
}

.round-slider-vertical-scale-image {
    width: 122px;
    height: 112px;
    display: table-cell;
    text-align: center;
    background: url("../img/roundslider_scope_y_marks.png") no-repeat;
}

.round-slider-horizontal-scale-image {
    width: 122px;
    height: 112px;
    display: table-cell;
    text-align: center;
    background: url("../img/roundslider_scope_x_marks.png") no-repeat;
}