.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #deddc5;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.timer {
  height: 50px;
  width: 100%;
  border-bottom: 2px solid black;
  align-content: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.timer::before {
  content: url("clock.png");
  margin-right: 5px;
  transform: scale(1.5);
}

.instructions-set {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.program-fpga {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.camera-view {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.digital-inputs {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.camera-frame {
  height: 248px;
  width: 330px;
  background-color: black;
  align-items: center;
  border: 10px solid gray;
  border-radius: 5px;
  margin: auto
}

table {
  margin-left: auto;
  margin-right: auto;
}

.digital-input-ch1, .digital-input-ch2, .digital-input-ch3, .digital-input-ch4 {
  display: inline-block;
}

.digital-input-types {
  display: inline-block;
  text-align: left;
}

.digital-input-wrapper {
  height: 95px;
  width: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.digital-input-button {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.digital-input-switch {
  height: 40px;
  width: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-vertical {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 60px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-vertical input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider, .slider-vertical {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-vertical:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider, input:checked + .slider-vertical {
  background-color: green;
}

input:focus + .slider, input:focus + .slider-vertical {
  box-shadow: 0 0 1px green;
}

h2 {
  text-align: center;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .slider-vertical:before {
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
}

.slider.round, .slider-vertical.round {
  border-radius: 34px;
}

.slider.round:before, .slider-vertical.round:before {
  border-radius: 50%;
}

.camera-switch {
  margin: 5px;
}

.instructions-set {
  text-align: left;
}