.logic-analyzer-diagram {
    height: 300px;
    width: auto;
    margin: 10px;
    background-color: black;
}

.logic-analyzer-table {
    border: 2px dashed black;
}

.fall-edge {
    content: url("img/fall_edge.png");
    transform: scale(0.7);
}

.rise-edge {
    content: url("img/rise_edge.png");
    transform: scale(0.7);
}

h3 {
    padding: 10px;
}

.logic-analyzer-select {
    width: 90px;
    background-color: #deddc5;
    border-radius: 2px;
    padding: 5px;
    margin: 10px;   
}