.program-mcu {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.program-mcu-component {
    margin-top: 120px;
    margin-bottom: 130px;
}

.program-mcu-file {
    display: block;
    margin: auto;
}

.program-mcu-success {
    color: green;
}

.program-mcu-failure {
    color: red;
}

.program-mcu-progress {
    color: black;
}

